body {
    margin: 0;
    padding-bottom: 30px;
    font-family: 'Segoe UI', sans-serif;
    background: #0f2a33;
    color: #fff;
    position: relative;
    overflow-x: hidden;
}

/* Grid background */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
    z-index: -3;
}

/* STACK SVG background layer */
/* body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: url("icons/background.svg") no-repeat center center;
    background-size: cover;
    opacity: 0.5;         
    z-index: -2;
} */

.bg-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
    z-index: -4;
    filter: brightness(0.35) contrast(1.1);
}

.logo {
    margin: 50px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 20%;
}

.section-title {
    text-align: center;
    margin: 20px 0 40px;
    font-weight: 700;
    font-size: 48px;
}

.section-title span {
    color: #e6b422;
}

.link {
    text-decoration: none;
}

.solution-card {
    border-radius: 25px;
    padding: 35px 25px;
    text-align: center;
    height: 100%;
    transition: 0.3s ease;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.solution-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.45);
}

.icon-wrapper {
    width: 110px;
    height: 110px;
    /* border-radius: 50%;
            background: #ffffff;*/
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper img {
    width: 110px;
    height: 110px;
}

.solution-title {
    font-size: 22px;
    font-weight: 700;
    color: #e6b422;
    margin-bottom: 12px;
}

.solution-desc {
    font-size: 15px;
    color: #fff;
    opacity: 0.9;
    line-height: 1.6;
}

/* Mobile Glass Enhancement */
@media (max-width: 768px) {

    .logo {
        margin: 30px 20px 20px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 200px;
    }

    .solution-card {
        padding: 25px 15px;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(5px);
    }

    .section-title {
        font-size: 30px;
    }

    .icon-wrapper {
        width: 90px;
        height: 90px;
        /* border-radius: 50%;
            background: #ffffff;*/
        margin: 0 auto 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-wrapper img {
        width: 90px;
        height: 90px;
    }
}